@using TesteBC.Web.Models.Report
@model LancamentoDiarioReport

@{
    ViewData["Title"] = "Report Diário";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="ReportLancamentosDiario">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="dtPagamento" class="control-label"></label>
                <input asp-for="dtPagamento" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-danger" />
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Dt. Vencimento
                </th>
                <th>
                    Dt. Pagamento
                </th>
                <th>
                    Valor Total
                </th>
            </tr>
        </thead>
        @if (Model.LancamentosDiarios != null)
        {
            <tbody>
                @foreach (var item in Model.LancamentosDiarios)
                {
                    <tr>
                        <td>
                            @Html.Raw(item.nome)
                        </td>
                        <td>
                            @Html.Raw(item.descricao)
                        </td>
                        <td>
                            @Html.Raw(item.dtVencimento.ToString("dd/MM/yyyy"))
                        </td>
                        <td>
                            @Html.Raw(item.dtPagamento.ToString("dd/MM/yyyy"))
                        </td>

                        <td>
                            @if (item.flCredito)
                            {
                                <div style="color:forestgreen">
                                    @Html.Raw(item.vlLancamento.ToString("#,##0.00"))
                                </div>
                            }
                            else
                            {
                                <div style="color:darkred">
                                    @Html.Raw((item.vlLancamento *-1).ToString("#,##0.00"))
                                </div>
                            }

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="font-weight:700">
                    <td colspan="4" style="text-align: right;">
                        Total:
                    </td>
                    <td>
                        @{
                            float total = Model.LancamentosDiarios.Sum(item => item.flCredito ? item.vlLancamento : (item.vlLancamento * -1));
                            if (total < 0)
                            {
                                <div style="color:darkred">
                                    @Html.Raw(total.ToString("#,##0.00"))
                                </div>
                            }
                            else
                            {
                                <div style="color:forestgreen">
                                    @Html.Raw(total.ToString("#,##0.00"))
                                </div>
                            }
                        }
                    </td>
                </tr>
            </tfoot>
        }
    </table>
</form>